<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/ch01/style.css" type="text/css">
</head>
<body>
<header class="page-header">
    <h1 id="page-title" class="title">Some Coffe Shop Name</h1>
    <nav>
        <ul id="main-nav" class="nav">
            <li><a href="/ch01">Home</a></li>
            <li><a href="/ch01/coffees">Coffees</a></li>
            <li><a href="/ch01/brewers">Brewers</a></li>
            <li><a href="/ch01/specials" class="featured">Specials</a></li>
        </ul>
    </nav>

</header>


<footer class="footer">
&copy; 2019 Some Coffe Shop Name &mdash; <a href="/terms"> Terms of use</a>
</footer>

</body>
</html>
