<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/ch02/style.css" type="text/css">
</head>
<body>


<div class="padded">
    The code to produce this is shown in the next listing. The ruleset specifies a font size
    of 16 px, which becomes the element’s local definition for 1 em. Then the code uses

</div>


<span class="box box-small">small</span>
<span class="box box-large">large</span>

<br/>
<br/>
<br/>


<div class="panel larger">
    <h2>Single-origin</h2>
    <div class="panel-body">
        We have built partnerships with small farms around the world to
        hand-select beans at the peak of season. We then carefully roast
        in <a href="/batch-size">small batches</a> to maximize their
        potential.
    </div>
</div>


<div class="square"></div>

<p class="about-us">
    We have built partnerships with small farms around the world to
    hand-select beans at the peak of season. We then carefully roast in
    small batches to maximize their potential.
</p>

</body>
</html>
