<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/ch03/style.css" type="text/css">
</head>
<body>

<header>
    <h1>Some Running Club</h1>
</header>

    <div class="container">

        <main class="main">
            <h2>Join us!</h2>
            <p>Some info about this running club that opens at 6:00pm every Thursday
                at the town square. Runs are three to five miles, at your own pace.
            </p>

        </main>

        <aside class="sidebar">
            <a href="/twitter" class="button-link">
                follow us on Twitter
            </a>
            <a href="/facebook" class="button-link">
                like us on Facebook
            </a>

            <a href="/sponsors" class="sponsor-link">
                become a sponsor
            </a>
        </aside>
    </div>

<div>dos</div>
<div>tres</div>
</body>
</html>
