<!DOCTYPE html>
<html>
<head>
    <title>Grid example page</title>
    <link rel="stylesheet" href="/css/ch06/style.css" type="text/css">
</head>
<body>

<div class="grid">
    <div class="a">a</div>
    <div class="b">b</div>
    <div class="c">c</div>
    <div class="d">d</div>
    <div class="e">e</div>
    <div class="f">f</div>
</div>

<figure>
    <img class="media-image" src="/images/shoes.png">
    <figcaption>Some caption</figcaption>
</figure>

</body>
</html>
