<!DOCTYPE html>
<html>
<head>
    <title>Grid example page</title>
    <link rel="stylesheet" href="/css/ch06/style_grid_native.css" type="text/css">
</head>
<body>

<div class="grid">
    <div class="a">a</div>
    <div class="b">b</div>
    <div class="c">c</div>
    <div class="d">d</div>
    <div class="e">e</div>
    <div class="f">f</div>
</div>


</body>
</html>
